* {
    box-sizing: border-box;
    font-family: 'SUIT-Medium';
}

.findidresultform {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.findidresult_logo {
    height: 100px;
    cursor: pointer;
}

.findid_result{
    font-size: 22px;
    margin : 40px 0 20px 0;   
    font-weight: bold; 
}

#sbtn {
    background-color: #ffd049;
    color : black;
    width: 420px;
    height:50px;
    font-size: 18px;
    /* font-weight: bold; */
    border : none;
    border-radius: 10px;
    margin : 40px 0 50px 0;
    text-decoration: none;
    display: flex; /* 추가 */
    align-items: center;
    justify-content: center;
}
