* {
    box-sizing: border-box;
    font-family: 'SUIT-Medium';
}

.findidresult-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 화면 기준 수직 정렬 */
}

.findidresultform {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
    
}

.findidresult_logo {
    height: 100px;
    cursor: pointer;
}

.findid_result{
    font-size: 22px;
    margin : 40px 0 20px 0;   
    font-weight: bold; 
}

#sbtn {
    background-color: #ffd049;
    color : black;
    width: 420px;
    height:50px;
    font-size: 18px;
    /* font-weight: bold; */
    border : none;
    border-radius: 10px;
    margin : 40px 0 50px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
