* {
  box-sizing: border-box;
  font-family: "SUIT-Medium";
}

div h5 {
  margin-bottom: 3px;
  color: rgb(107, 107, 107);
}

.loginForm {
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

h1#login_title {
  margin-bottom: 10px; /* 로그인 글자와 아래 요소 간격 */
}

.input {
  display: flex;
  flex-direction: column;

}

.userId,
.password {
  width: 400px;
  height: 50px;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 0 10px;
}

#loginBut {
  background-color: #ffd049;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  height: 50px;
  width: 400px;
  margin: 20px 0 30px 0;
}

/* #loginBut:hover {
    background-color: #f8d1dd;} /* 마우스 호버 시 색상 변경 */

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.link a {
  text-decoration: none; /* 밑줄 제거 */
  color: rgb(107, 107, 107); /* 색상 변경 */
  margin: 0px 15px 0 15px;
}

.link a:hover {
  color: #ffd049; /* 마우스 호버 시 색상 변경 */
}

.login-logo {
  height: 80px; /* 원하는 크기로 조정 */
  margin-bottom: 40px; /* 아래 여백으로 로그인 폼과 간격 */
  cursor: pointer;
}
