body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page-container{
  height: 500px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.main-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  overflow: visible;
}

.main-logo {
  width: 350px;
  cursor: pointer;
  margin-bottom: 50px;
}

.main-search-box {
  position: relative;
  width: 400px;
}

.main-search-input {
  width: 100%;
  padding: 10px 40px 10px 12px;
  border: 5px solid #ffd049;
  border-radius: 4px;
  font-size: 16px;
}

.main-search-icon {
  position: absolute;
  right: 10px;
  top: 9px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: lightgray;
}

.main-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  max-height: 160px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: 5px;
}

.main-dropdown-item {
  padding: 10px;
  cursor: pointer;
  list-style: none;
   display: flex;
  justify-content: space-between; /* 양 끝 정렬 */
  align-items: center;
}

.main-dropdown-item:hover {
  background-color: #f0f0f0;
}

.no-result {
  color: #aaa;
  cursor: default;
  padding: 10px;
}

.section {
  height: 100vh !important;
  overflow: visible !important;
  margin: 0;
  padding: 0;
  background: none !important;
}



