* {
    box-sizing: border-box;
    font-family: 'SUIT-Medium';
}

div h5 {
    margin-bottom: 3px; 
    color: rgb(107, 107, 107);
}

div > div {
    margin-bottom: 3px; 
}

.userjoin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Nav가 60px이라면 */
  padding-top: 100px; /* Nav 겹침 방지용 */
}

.findid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); /* Nav가 60px이라면 */
  padding-top: 60px; /* Nav 겹침 방지용 */
}

.userjoin-form {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.input-field-1 {
    
    width: 300px;
    height: 50px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}

.input-field-2 {
    
    width: 400px;
    height: 50px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 0 10px;
    margin-bottom: 10px;
}


#dupIdCheck,
#sendPhoneCode,
#verifyPhoneCode {
    background-color: #ffd049;
    color: black;
    width: 100px;
    height: 50px;
    font-size: 13px;
    border-radius: 10px;
    margin-left: 10px;
    border: none;
}

#userjoin_title {
    text-align: center;
    color: black;
}

/* 가입하기 버튼 */
#findid_login {
    background-color: #ffd049;
    color : black;
    width: 400px;
    height:50px;
    font-size: 18px;
    /* font-weight: bold; */
    border : none;
    border-radius: 10px;
    margin : 20px 0 50px 0;
}